body{
	font-family: 'Raleway', Helvetica, Arial;
	font-size: 16px;
	color: #666666;
	font-weight: 400;
	letter-spacing: 1px;
}

p{
	line-height: 30px;
	font-weight: 400px;
}

h1, h2, h3, h4, h5, h6{
	color: #333333;
	text-transform: uppercase;
	font-family: 'Raleway', Helvetica, Arial;
	font-weight: 700;
}

a{
	color: #3498db;
	text-decoration: none;
}

a:hover, a:focus{
	color: #308ac6;
}

.col-centered{
    float: none;
    margin: 0 auto;
}