body{
	font-family: 'Raleway', Helvetica, Arial;
	font-size: 16px;
	color: #666666;
	font-weight: 400;
	letter-spacing: 1px;
}

p{
	line-height: 30px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
	color: #333333;
	text-transform: uppercase;
	font-family: 'Raleway', Helvetica, Arial;
	font-weight: 700;
}

a{
	color: #3498db;
	text-decoration: none;
}

a:hover, a:focus{
	color: #308ac6;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* end */

/* logo */

.navbar-brand{
	width: 397px;
	height: 24px;
	padding: 0;
	margin: 0;
	background: url(img/brand.png) no-repeat;
	text-indent: -9999px;	
}

.navbar-nav {
	float: right;
}

.navbar-nav>li {
	margin-right: 25px;
}

.navbar-header {
	padding: 10px;
}

/* end */ 

/* navigation */

.navbar-default{
	background: none;
	border: none;
	padding: 0 0 60px 0;
	margin-top: -60px;
	height: 120px;
}

.navbar-default .navbar-nav>li>a{
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #95a5a6;
	padding: 11px 0 3px 0;
	text-align: center;

}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #fff;
	border-bottom: 3px solid #aeff58;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background: none;
	outline: 0;
}

.navbar-toggle{
	border: none;
	margin-top: 0;
	margin-right: 0;
	width: 32px;
	height: 32px;
	text-align: center;
	color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: none;
	outline: none;
}

.navbar-default .navbar-collapse{
	border: none;
	background: #34495e;
	border-radius: 2px;
	box-shadow: none;
}

/* end */

/* jumbotron */

.jumbotron{
	background: #34495e url(img/banner-bg.png) no-repeat;
	background-size: cover;
	min-height: 650px;
	max-height: 800px;
	padding: 60px 0;
	margin-top: 0;
	margin-bottom: 0;
}

.jumbotron h1{
	color: #fff;
	font-weight: 300;
	margin: 0 0 60px 0;
}

.jumbotron h1 span{
	color: #aeff58;
	font-weight: 600;
}

.jumbotron h3{
	color: #fff;
	font-size: 20px;	
	line-height: 30px;
	font-weight: 200;
	text-transform: none;
	letter-spacing: 4px;
}

/*#arrow-down {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid #aeff58;

}*/

/* end */ 

/* services */

.web-services {
	background: #ecf0f1;
	min-height: 350px;
	max-height: 600px;
}
p.services {
	padding-top: 65px;
}

.more {
	color: #f58220;
}

.home-services-list li {
	width: 23%;
	margin: 1.5%;
	display: inline-block;
	vertical-align: top;
}

.icon-sprite{
	width: 64px;
	height: 64px;
	display: inline-block;
	background: url(img/sprite.png) no-repeat;
	background-position: left top;
	margin-bottom: 20px;
}

.icon-sprite.sprite-web{
	background-position: left;
}

.icon-sprite.sprite-dev{
	background-position: -64px;
}

.icon-sprite.sprite-sup{
	background-position: -128px;
}

/* end */

/* our work */
.our-work{
	padding: 20px 0;
}

.heading{
	padding: 60px 0;
}

.heading h1{
	border-bottom: 3px solid #aeff58;
	background-position: center bottom;
	padding: 0 0 10px 0;
}

.about-us{
	background: #34495e;
}